%table.table.table-bordered
  %thead
    %tr
      %th= t(:"views.admin.equipment_reservation._table.name")
      %th= t(:"views.admin.equipment_reservation._table.from")
      %th= t(:"views.admin.equipment_reservation._table.to")
      %th= t(:"views.admin.equipment_reservation._table.user")
      %th= t(:"views.admin.equipment_reservation._table.action")
  %tbody
    - equipment_reservations.each do |equipment_reservation|
      %tr
        %td= equipment_reservation.name
        %td= l equipment_reservation.from.in_time_zone("Berlin"), :format => :short
        %td= l equipment_reservation.to.in_time_zone("Berlin"), :format => :short
        %td= User.find(equipment_reservation.user).email
        %td
          = link_to t(:"views.admin.equipment_reservation._table.edit"), edit_admin_equipment_reservation_path(equipment_reservation)
          = link_to t(:"views.admin.equipment_reservation._table.destroy"), admin_equipment_reservation_path(equipment_reservation), method: :delete
