.page-header
  %h1
    Equipment Pick Up
    %small Scan the devices you want, NOW!
%br
.alert-message.error.not-found{style: 'display:none;'}
  %p
    %strong Not Found!
    Couldn't find this Barcode :(.
.alert-message.error.full{style: 'display:none;'}
  %p
    %strong Enough!
    You have enough devices, stop adding.
.alert-message.warn{style: 'display:none;'}
  %p
    %strong Double scan!
    This Barcode was scanned at least twice.
%form
  .inline-inputs
    Name
    %input{type: 'text', value: equipment_reservation.name, disabled: true}
    from
    %input.medium{:type => "text", value: equipment_reservation.from, disabled: true}
    to
    %input.medium{:type => "text", value: equipment_reservation.to, disabled: true}
%br
%form.scan
  .inline-inputs
    %input.xxlarge{type: 'text'}
    %input.btn{type: 'submit', value: 'Scan'}
  %span.help-block
    ["8P20002469", "8P20002468", "8P20002467"]
%h4 Devices
%table#added_models
  %thead
    %tr
      %th{width: '15%'} Kind
      %th{width: '25%'} Company
      %th{width: '35%'} Model
      %th{width: '25%'} Count
  %tbody
    - equipment_reservation.reservations.each do |r|
      %tr{data: {barcodes: models[classify("#{r['kind']}_#{r['company']}_#{r['model']}")], picked: [], total: r['count']}}
        %td= r['kind']
        %td= r['company']
        %td= r['model']
        %td
          %span.count
            0
          \/
          = r['count']
%form
  %input#device_barcodes{type: 'hidden'}
  %input.btn.primary{type: 'submit'}
  %a.btn.reset{href: equipment_pick_ups_path} Cancel
