%table.table.table-bordered
  %thead
    %tr
      %th{width: '60%'} Name
      %th{width: '20%'} From
      %th{width: '20%'} To
  %tbody
    - equipment_reservations.each do |r|
      %tr
        %td
          = link_to r.name, "/#{params['controller']}/#{r._id}"
          = r.labels
        %td= l r.from.in_time_zone("Berlin"), :format => :short
        %td= l r.to.in_time_zone("Berlin"), :format => :short
