%table.table.table-bordered
  %thead
    %tr
      %th{width: '60%'}= t(:"views.shared.equipment._reservations_table.name")
      %th{width: '20%'}= t(:"views.shared.equipment._reservations_table.from")
      %th{width: '20%'}= t(:"views.shared.equipment._reservations_table.to")
  %tbody
    - equipment_reservations.each do |r|
      %tr
        %td
          = link_to r.name, "/#{params['controller']}/#{r._id}"
          = r.labels
        %td= l r.from.in_time_zone("Berlin"), :format => :short
        %td= l r.to.in_time_zone("Berlin"), :format => :short
