.page-header
  %h1
    New Equipment Reservation
    %small Please add the equipment you need.

%br
%form
  .inline-inputs
    Name
    %input{type: 'text', value: params[:reservation][:name], disabled: true}
    from
    %input.medium{:type => "text", value: params[:reservation][:from], disabled: true}
    to
    %input.medium{:type => "text", value: params[:reservation][:to], disabled: true}

%h4
  Available Devices
  %small
    %a{href: '#'} hide

%table#available_models
  %thead
    %tr
      %th{width: '15%'} Kind
      %th{width: '25%'} Company
      %th{width: '35%'} Model
      %th{width: '25%'} Count
  %tbody
    - @models.each do |kind, companies|
      %tr.kind{ id: classify(kind), height: '47px' }
        %td
          %a{href: '#'}= kind
        %td
        %td
        %td
      - companies.each do |company, models|
        %tr.company{ id: classify(company), class: classify(kind), height: '47px', style: 'display:none' }
          %td= kind
          %td
            %a{href: '#'}= company
          %td
          %td
        - models.each do |model|
          %tr.model{ id: model[:uuid], class: "#{classify(kind)} #{classify(company)}", height: '47px', style: 'display:none' }
            %td= kind
            %td= company
            %td= model[:model]
            %td
              %select.mini{ name: "reservation[element_uuids][#{model[:uuid]}]"}
                - (0..model[:total]).each do |i|
                  %option= i

%h4 Added Devices
%form{:action => "/equipment/reservations", :method => "post"}
  %input{type: 'hidden', name: 'reservation[name]', value: params[:reservation][:name]}
  %input{type: 'hidden', name: 'reservation[from]', value: params[:reservation][:from]}
  %input{type: 'hidden', name: 'reservation[to]', value: params[:reservation][:to]}
  %table#added_models
    %thead
      %tr
        %th{width: '15%'} Kind
        %th{width: '25%'} Company
        %th{width: '35%'} Model
        %th{width: '25%'} Count
    %tbody

  %input.btn.primary{type: 'submit'}
