.page-header
  %h1
    New Equipment Reservation
    %small Please add the equipment you need.

%br
%form
  .inline-inputs
    Name
    %input{type: 'text', value: params[:equipment_reservation][:name], disabled: true}
    from
    %input.medium{:type => "text", value: params[:equipment_reservation][:from], disabled: true}
    to
    %input.medium{:type => "text", value: params[:equipment_reservation][:to], disabled: true}

%form#new_reservation{:action => "/equipment/reservations", :method => "post"}
  %input{type: 'hidden', name: 'equipment_reservation[name]', value: params[:equipment_reservation][:name]}
  %input{type: 'hidden', name: 'equipment_reservation[from]', value: params[:equipment_reservation][:from]}
  %input{type: 'hidden', name: 'equipment_reservation[to]', value: params[:equipment_reservation][:to]}
  %input{type: 'hidden', name: 'equipment_reservation[user]', value: current_user._id.to_s}

  %h4
    Available Devices
    %small
      %a{href: '#'} hide

  %table#available_models
    %thead
      %tr
        %th{width: '15%'} Kind
        %th{width: '25%'} Company
        %th{width: '35%'} Model
        %th{width: '25%'} Count
    %tbody
      - Device.entries_of(:kind).each do |kind|
        %tr.kind{ id: classify(kind), height: '47px' }
          %td
            %a{href: '#'}= kind
          %td
          %td
          %td
        - Device.entries_of(:company, kind: kind).each do |company|
          %tr.company{ id: classify(company), class: classify(kind), height: '47px', style: 'display:none' }
            %td= kind
            %td
              %a{href: '#'}= company
            %td
            %td
          - models.select{ |model| model.kind == kind && model.company == company }.each do |model|
            %tr.model{ id: model.object_id, class: "#{classify(kind)} #{classify(company)}", height: '47px', style: 'display:none' }
              %td= kind
              %td= company
              %td= model.model
              %td
                %input{type: 'hidden'}
                %select.mini{ name: "equipment_reservation[element_uuids][][count]"}
                  - (0..model.total_devices).each do |i|
                    %option{disabled: i > model.available_devices}= i

  %h4 Added Devices
  %table#added_models
    %thead
      %tr
        %th{width: '15%'} Kind
        %th{width: '25%'} Company
        %th{width: '35%'} Model
        %th{width: '25%'} Count
    %tbody

  %input.btn.primary{ type: 'submit' }
  %a.btn.reset{href: equipment_reservations_path} Cancel
