.page-header
  %h1
    = t(:"views.equipment.reservation.show.heading")
    %small
      = t(:"views.equipment.reservation.show.subheading")

%br
%form
  .inline-inputs
    = t(:"views.shared.equipment._reservation_table.name")
    %input{type: 'text', value: equipment_reservation.name, disabled: true}
    = t(:"views.shared.equipment._reservation_table.from")
    %input.medium{:type => "text", value: equipment_reservation.from.in_time_zone.strftime('%d.%m.%Y %H:%M'), disabled: true}
    = t(:"views.shared.equipment._reservation_table.to")
    %input.medium{:type => "text", value: equipment_reservation.to.in_time_zone.strftime('%d.%m.%Y %H:%M'), disabled: true}

%h3= t(:"views.equipment.reservation.show.reserved_devices")
%table.table.table-bordered
  %thead
    %tr
      %th{width: '15%'}= t(:"views.equipment.reservation.show.kind")
      %th{width: '25%'}= t(:"views.equipment.reservation.show.company")
      %th{width: '35%'}= t(:"views.equipment.reservation.show.model")
      %th{width: '25%'}= t(:"views.equipment.reservation.show.count")
  %tbody
    - equipment_reservation.reservations.each do |model|
      %tr
        %td= model['kind']
        %td= model['company']
        %td= model['model']
        %td= model['count']

%form{:action => "/equipment/reservations/#{equipment_reservation._id}", :method => "post"}
  %input{:name => "_method", :type => "hidden", :value => "delete"}
  %input{:name => "user", :type => "hidden", :value => current_user._id.to_s }
  %input.btn-danger{type: 'submit', value: t(:"views.equipment.reservation.show.destroy")}
  %a{href: equipment_pick_up_path(equipment_reservation)}
    = t(:"views.equipment.reservation.show.pick_up")
  %a{href: equipment_reservations_path}
    = t(:"views.equipment.reservation.show.back")

