.page-header
  %h1
    = t(:"views.equipment.return.index.heading")
    %small= t(:"views.equipment.return.index.subheading")
%br

.alert.alert-error.not-found{style: 'display:none;'}
  %strong= t(:"views.equipment.return.show.error.not_found.title")
  = t(:"views.equipment.return.show.error.not_found.desc")
.alert.alert-info{style: 'display:none;'}
  %strong= t(:"views.equipment.return.show.error.double.title")
  = t(:"views.equipment.return.show.error.double.desc")

= render "shared/equipment/reservation_line"

%br

%span.returns
  = render "shared/barcode_scan_form"

%h3= t(:"views.equipment.return.show.devices")
%table.table.table-bordered
  %thead
    %tr
      %th{width: '15%'}= t(:"views.equipment.return.show.kind")
      %th{width: '25%'}= t(:"views.equipment.return.show.company")
      %th{width: '35%'}= t(:"views.equipment.return.show.model")
      %th{width: '25%'}= t(:"views.equipment.return.show.count")
  %tbody
    - equipment_reservation.reservations.each do |r|
      - model = models.find{ |model| model.kind == r['kind'] && model.company == r['company'] && model.model == r['model'] }
      %tr{data: {barcodes: model.devices.map(&:barcode), picked: r['pickups'], total: r['count'], returned: r['returns']}}
        %td= model.kind
        %td= model.company
        %td= model.model
        %td
          %span.count
            = r['returns'].size
          \/
          = r['count']
    - (all_equipment_reservations - [equipment_reservation]).flat_map(&:reservations).each do |r|
      - model = models.find{ |model| model.kind == r['kind'] && model.company == r['company'] && model.model == r['model'] }
      %tr.hidden{data: {barcodes: model.devices.map(&:barcode), picked: r['pickups'], total: r['count'], returned: r['returns']}}
        %td= model.kind
        %td= model.company
        %td= model.model
        %td
          %span.count
            0
%form.return{:action => "/equipment/returns", :method => "post"}
  %input{type: 'hidden', name: :id, value: equipment_reservation._id.to_s}
  %input#device_barcodes{type: 'hidden', name: 'returns'}
  %input.btn-primary{type: 'submit', value: t(:"views.equipment.return.show.submit")}
  %a{href: equipment_returns_path}= t(:"views.equipment.return.show.back")
