.page-header
  %h1
    Equipment Return
    %small Scan the devices you want, NOW!
%br
.alert.alert-error.not-found{style: 'display:none;'}
  %strong Not Found!
  Couldn't find this Barcode :(.
.alert.alert-info{style: 'display:none;'}
  %strong Double scan!
  This Barcode was scanned at least twice.

= render "shared/equipment/reservation_line"

%br

= render "shared/barcode_scan_form"

%h3 Devices
%table.table.table-bordered
  %thead
    %tr
      %th{width: '15%'} Kind
      %th{width: '25%'} Company
      %th{width: '35%'} Model
      %th{width: '25%'} Count
  %tbody
    - equipment_reservation.reservations.each do |r|
      - model = models.find{ |model| model.kind == r['kind'] && model.company == r['company'] && model.model == r['model'] }
      %tr{data: {barcodes: model.devices.map(&:barcode), picked: r['pickups'], total: r['count']}}
        %td= model.kind
        %td= model.company
        %td= model.model
        %td
          %span.count
            = r['pickups'].size
          \/
          = r['count']
%form.pick_up{:action => "/equipment/pick_ups", :method => "post"}
  %input{type: 'hidden', name: :id, value: equipment_reservation._id.to_s}
  %input#device_barcodes{type: 'hidden', name: 'pickups'}
  %input.btn-primary{type: 'submit'}
  %a{href: equipment_returns_path} Return Stuff
  %a{href: equipment_pick_ups_path} Back
