.page-header
  %h1
    = t(:"views.admin.user.edit.heading")
    %small= t(:"views.admin.user.edit.subheading")
%br
= form_for [:admin, user], html: { class: 'form-horizontal' } do |f|
  %fieldset
    .control-group
      = f.label :email, t(:"views.admin.user.edit.email")
      .controls
        .input
          = f.text_field :email
    .control-group
      = f.label :admin, t(:"views.admin.user.edit.admin")
      .controls
        .input
          = f.check_box :admin
    .form-actions
      %input.btn-primary{type: 'submit', value: t(:"views.admin.user.edit.submit")}
