- controller = params[:controller]
.topbar
  .topbar-inner
    .container
      %h3
        %a Longjohn
      %ul.nav
        %li{class: "#{'active' if controller == 'start'}"}
          = link_to "Home", root_path
        %li.dropdown{class: "#{'active' if controller =~ /studio/}"}
          %a.dropdown-toggle{href: '#'} Studio
          %ul.dropdown-menu
            %li
              %a{href: '#'} Reservation
        %li.dropdown{class: "#{'active' if controller =~ /equipment/}"}
          %a.dropdown-toggle{href: '#'} Equipment
          %ul.dropdown-menu
            %li
              = link_to "Reservation", equipment_reservations_path
            %li
              = link_to "Pick up", equipment_pick_ups_path
            %li
              %a Return
        %li
          %a{href: '#'} Projects
      %ul.nav.secondary-nav
        - if current_user
          %li
            %a{href: '#'}= current_user.email
          %li
            = link_to "Log out", log_out_path
        - else
          %li
            = link_to "Log in", log_in_path
          %li
            = link_to "Sign up", sign_up_path
