!!!
%html
  %head
    %title Longjohn
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container
          %h3
            %a UDK
          %ul.nav
            %li.active
              %a Home
            %li
              %a Studio
            %li.dropdown
              %a.dropdown-toggle Equipment
              %ul.dropdown-menu
                %li
                  %a Reservation
                %li
                  %a Pick up
                %li
                  %a Return
            %li
              %a Projects
    / #user_nav
    /   - if current_user
    /     Logged in as #{current_user.email}.
    /     \#{link_to "Log out", log_out_path}
    /   - else
    /     = link_to "Sign up", sign_up_path
    /     or
    /     \#{link_to "log in", log_in_path}

    = yield

