!!!
%html
  %head
    %title Longjohn
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'layouts/navigation'
    - if params[:controller] != 'start'
      .container
        - if flash[:notice].present?
          .alert.alert-success
            %p
              %strong= flash[:notice][0]
              = flash[:notice][1]
        - if flash[:alert].present?
          .alert.alert-error
            %p
              %strong= flash[:alert][0]
              = flash[:alert][1]
        = yield
    - else
      = yield
